* {
  font-family: "Livvic", sans-serif;
}
p {
  font-size: 1vw;
}

.container-fluid {
  padding: 65px 0px;
}

.container-fluid h3 {
  font-size: 4.5vh;
}

.bg-1 {
  background-color: #141414;
  color: #ffffff;
}

.subtitle {
  font-style: italic;
  font-size: 2vh;
}

.margin {
  margin-bottom: 45px;
}

.bg-hero {
  background-image: url("img/img-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  max-height: 600px;
  color: #ffffff;
}

#texte-about {
  width: 50%;
}

#texte-about > p {
  font-size: 2.2vh;
  padding-right: 4vw;
}

#photographer-portrait {
  padding-left: 4vw;
}

.bg-dark.custom-btn {
  color: #ffffff;
}

.bg-dark.custom-btn:hover {
  color: #ffffff;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fr {
  display: flex;
  flex-direction: row;
}

.fc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fr-tarif {
  display: flex;
  flex-direction: row;
}

.img-presta {
  max-height: 32.5vw;
  width: auto;
}

.bg-custom {
  background-color: #faebe9;
  display: flex;
  flex-direction: column;
}

.bar {
  border: 0;
  height: 0.4vh;
  background: #faebe9;
  margin: 0;
}

.ct {
  margin-bottom: 1vw;
  font-size: 2.4vh;
}

.ct-a{
  text-decoration: none;
  color: white;
  font-size: 1.5vh;
}

.ct-a:visited, a {
  text-decoration: none;
  color: white;
  font-size: 1.5vh;
}

.ct-a:hover {
  text-decoration: none;
  color: white;
}

.ct-a:active {
  text-decoration: none;
  color: white;
}

.ct-img {
  max-width: 3vh;
  filter: invert(100%);
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
}

.table-fill {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

th {
  color: #d5dde5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 2vh;
  font-weight: 100;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

td {
  background: #ebebeb;
  padding: 1vw;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 1.7vh;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

td:last-child {
  border-right: 0px;
}

.space {
  padding: 0;
  padding-top: 2vw;
}

.cgv {
  text-align: justify;
  text-justify: inter-word;
  padding: 3vw;
}

.cgv > h1 {
  font-size: 3vh;
}

.cgv > h2 {
  font-size: 2.7vh;
}

.cgv > h3 {
  font-size: 2.5vh;
}

.cgv > p,
.cgv > ul > li > p {
  font-size: 2vh;
}

.cgv > ul > li > p {
  margin: 0;
}

.galerie-row {
  display: flex;
  justify-content: space-between;
  background-color: #faebe9;
}

.galerie-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
}

.galerie-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  #texte-about {
    width: 80%;
  }
}

.galerie {
  color:white;
  text-decoration: none;
  font-size: 2.2vh;
}

.galerie:hover {
  color:white;
  text-decoration: none;
  font-size: 2.2vh;
}

.navbar-custom {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #343a40;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav {
  display: block;
  height: 50px;
}

.liens {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.nav-lien {
  display: inline-block;
  margin-left: 10px;
}

.nav-lien a {
  color: #ffffff !important;
  letter-spacing: 3px;
}

.nav-lien a:hover {
  color: #727271 !important;
  text-decoration: none;
}

.burger-menu {
  display: none;
}

.burger-div {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.burger-bar {
  height: 1px;
  width: 150%;
  background: white;
  border-radius: 1px;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 1000px) {
  .navbar-custom {
    flex-direction: column;
  }

  .logo-nav {
    width: 100%;
  }

  .liens {
    display: none;
    width: 100%;
  }

  .nav-lien {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: end;
  }

  .burger-menu {
    display: block;
    position: absolute;
    padding: 0.25rem 0.75rem;
    top: 25px;
    right: 5%;
    background-color: transparent;
    height: 30px;
    width: 40px;
    border: 1px solid white;
    border-radius: 0.25rem;
  }

  .active-burger {
    display: block;
}
}